#floatingTextarea {
    height: 150px;
    
}

#buttonSubmit {
    background-color: rgb(111, 23, 23);
    border: none;
    
}

.hiddenRadio{
    display: none;
  }

  .star {
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 50px;
}

/* Estrela vazia */
.star::before {
    content: "\2606"; /* Estrela vazia */
}

/* Estrela ativa (cheia) */
.star.ativo::before {
    content: "\2605"; /* Estrela cheia */
}

/* Define o estilo para estrelas preenchidas quando a classe 'hover' ou 'ativo' é aplicada */
.fiveStars .star.hover::before {
    content: "\2605"; /* Estrela cheia ao passar o mouse */
}

/* Manter a exibição das estrelas vazias após a estrela com hover */
.fiveStars .star:hover ~ .star::before {
    content: "\2606"; /* Estrelas vazias */
}

/* Estrela preenchida e visível enquanto estiver no hover */
.fiveStars .star:hover::before {
    content: "\2605"; /* Estrela cheia */
}

/* Quando o mouse sai, remove a classe de hover e restaura o estado */
.fiveStars .star:hover,
.fiveStars .star:hover ~ .star::before {
    content: "\2606"; /* Estrelas vazias */
}

#countercss{
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

#tableStar{
    color: #ffe500;
    font-size: 25px;
    width: 100px;
}